.header {
    color: #fff;
}

.header__title {
    font-weight: 100;
    font-size: 44px;
    line-height: 1;
    margin-bottom: 10px;
}

.header a {
    color: #ebebeb;
    text-decoration: underline;
}

.header__title a {
    color: #ebebeb;
    text-decoration: none;
}

.header__text {
    font-weight: 100;
    font-size: 16px;
}

.header__subtitle {
    font-weight: 100;
    font-size: 12px;
    box-sizing: border-box;
    padding-right: 20px;
    margin-bottom: 50px;
}

.header__btn {
    margin: 0 auto;
    color: #ffffff;
    min-width: 320px;
    font-size: 28px;
    cursor: pointer;
}

.header__btn:hover {
    color: #ffffff;
    opacity: .8;
}


@media screen and (max-width: 414px) {
    .header__title {
        margin-top: 70px;
        text-align: center;
        font-size: 50px;
    }

    .header__subtitle {
        text-align: center;
        margin-bottom: 100px;
    }

    .header__text {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .header__title {
        margin-top: 50px;
        text-align: center;
        font-size: 40px;
    }

    .header__subtitle {
        text-align: center;
        margin-bottom: 80px;
    }

    .header__text {
        font-size: 14px;
    }
}