.slide {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
}

.slide__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat;
    background-size: cover;
    z-index: -2;
}

.slide__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}

.slide__inner {
    padding-top: 20px;
    padding-bottom: 20px;
}

.slide__btns {
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
}